{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-end">
				<button type="submit" form="form-payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger">{{ error_warning }}</div>
		{% endif %}
		{% if is_widget and not widget_payment_methods_enabled %}
			<div class="alert alert-warning">{{ text_widget_payment_methods_required }}</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3></div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" id="form-payment" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							{% if is_widget and not widget_payment_methods_enabled %}
								<input type="hidden" name="{{ status_key }}" value="0"/>
							{% endif %}
							<select name="{{ status_key }}" id="input-status" class="form-control"{% if is_widget and not widget_payment_methods_enabled %} disabled="disabled"{% endif %}>
								<option value="1"{% if status %} selected="selected"{% endif %}>{{ text_enabled }}</option>
								<option value="0"{% if not status %} selected="selected"{% endif %}>{{ text_disabled }}</option>
							</select>
						</div>
					</div>
					{% if is_widget %}
						<div class="form-group">
							<label class="col-sm-2 control-label">BNPL widget</label>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-sm-2"><select name="payment_robokassa_widget_bnpl_theme" class="form-control"><option value="light"{% if payment_robokassa_widget_bnpl_theme == 'light' %} selected="selected"{% endif %}>light</option><option value="dark"{% if payment_robokassa_widget_bnpl_theme == 'dark' %} selected="selected"{% endif %}>dark</option></select></div>
									<div class="col-sm-2"><select name="payment_robokassa_widget_bnpl_size" class="form-control"><option value="s"{% if payment_robokassa_widget_bnpl_size == 's' %} selected="selected"{% endif %}>s</option><option value="m"{% if payment_robokassa_widget_bnpl_size == 'm' %} selected="selected"{% endif %}>m</option></select></div>
									<div class="col-sm-2"><select name="payment_robokassa_widget_bnpl_show_logo" class="form-control"><option value="1"{% if payment_robokassa_widget_bnpl_show_logo %} selected="selected"{% endif %}>logo</option><option value="0"{% if not payment_robokassa_widget_bnpl_show_logo %} selected="selected"{% endif %}>no logo</option></select></div>
									<div class="col-sm-2"><input type="text" name="payment_robokassa_widget_bnpl_border_radius" value="{{ payment_robokassa_widget_bnpl_border_radius }}" class="form-control" placeholder="radius"/></div>
									<div class="col-sm-2"><select name="payment_robokassa_widget_bnpl_has_second_line" class="form-control"><option value="1"{% if payment_robokassa_widget_bnpl_has_second_line %} selected="selected"{% endif %}>second line</option><option value="0"{% if not payment_robokassa_widget_bnpl_has_second_line %} selected="selected"{% endif %}>one line</option></select></div>
									<div class="col-sm-2"><select name="payment_robokassa_widget_bnpl_description_position" class="form-control"><option value="left"{% if payment_robokassa_widget_bnpl_description_position == 'left' %} selected="selected"{% endif %}>left</option><option value="right"{% if payment_robokassa_widget_bnpl_description_position == 'right' %} selected="selected"{% endif %}>right</option></select></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Credit widget</label>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-sm-2"><select name="payment_robokassa_widget_credit_theme" class="form-control"><option value="light"{% if payment_robokassa_widget_credit_theme == 'light' %} selected="selected"{% endif %}>light</option><option value="dark"{% if payment_robokassa_widget_credit_theme == 'dark' %} selected="selected"{% endif %}>dark</option></select></div>
									<div class="col-sm-2"><select name="payment_robokassa_widget_credit_size" class="form-control"><option value="s"{% if payment_robokassa_widget_credit_size == 's' %} selected="selected"{% endif %}>s</option><option value="m"{% if payment_robokassa_widget_credit_size == 'm' %} selected="selected"{% endif %}>m</option></select></div>
									<div class="col-sm-2"><select name="payment_robokassa_widget_credit_show_logo" class="form-control"><option value="1"{% if payment_robokassa_widget_credit_show_logo %} selected="selected"{% endif %}>logo</option><option value="0"{% if not payment_robokassa_widget_credit_show_logo %} selected="selected"{% endif %}>no logo</option></select></div>
									<div class="col-sm-2"><input type="text" name="payment_robokassa_widget_credit_border_radius" value="{{ payment_robokassa_widget_credit_border_radius }}" class="form-control" placeholder="radius"/></div>
									<div class="col-sm-2"><select name="payment_robokassa_widget_credit_has_second_line" class="form-control"><option value="1"{% if payment_robokassa_widget_credit_has_second_line %} selected="selected"{% endif %}>second line</option><option value="0"{% if not payment_robokassa_widget_credit_has_second_line %} selected="selected"{% endif %}>one line</option></select></div>
									<div class="col-sm-2"><select name="payment_robokassa_widget_credit_description_position" class="form-control"><option value="left"{% if payment_robokassa_widget_credit_description_position == 'left' %} selected="selected"{% endif %}>left</option><option value="right"{% if payment_robokassa_widget_credit_description_position == 'right' %} selected="selected"{% endif %}>right</option></select></div>
								</div>
							</div>
						</div>
					{% endif %}
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
						<div class="col-sm-10">
							<input type="text" name="{{ sort_order_key }}" value="{{ sort_order }}" id="input-sort-order" class="form-control"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}
