{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-robokassa" data-toggle="tooltip" title="{{ button_save }}"
						class="btn btn-primary">
					<i class="fa fa-save"></i>
				</button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
					<i class="fa fa-reply"></i>
				</a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li>
						<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger">
				<i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">
					&times;
				</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-pencil"></i> {{ text_edit }}
				</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment"
					  class="form-horizontal">
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-merch-login">{{ entry_merch_login }}</label>
						<div class="col-sm-10">
							<input type="text" name="payment_robokassa_login" value="{{ payment_robokassa_login }}"
								   placeholder="{{ entry_merch_login }}" id="input-merch-login" class="form-control"/>
							{% if error_merch_login %}
								<div class="text-danger">{{ error_merch_login }}</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-password_1">{{ entry_password1 }}</label>
						<div class="col-sm-10">
							<input type="password" name="payment_robokassa_password_1"
								   value="{{ payment_robokassa_password_1 }}" placeholder="{{ entry_password1 }}"
								   id="input-password_1" class="form-control"/>
							{% if error_password1 %}
								<div class="text-danger">{{ error_password1 }}</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-password_2">{{ entry_password2 }}</label>
						<div class="col-sm-10">
							<input type="password" name="payment_robokassa_password_2"
								   value="{{ payment_robokassa_password_2 }}" placeholder="{{ entry_password2 }}"
								   id="input-password_2" class="form-control"/>
							{% if error_password2 %}
								<div class="text-danger">{{ error_password2 }}</div>
							{% endif %}
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label"
							   for="input-test_password_1">{{ entry_test_password1 }}</label>
						<div class="col-sm-10">
							<input type="password" name="payment_robokassa_test_password_1"
								   value="{{ payment_robokassa_test_password_1 }}"
								   placeholder="{{ entry_test_password1 }}" id="input-test_password_1"
								   class="form-control"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
							   for="input-test_password_2">{{ entry_test_password2 }}</label>
						<div class="col-sm-10">
							<input type="password" name="payment_robokassa_test_password_2"
								   value="{{ payment_robokassa_test_password_2 }}"
								   placeholder="{{ entry_test_password2 }}" id="input-test_password_2"
								   class="form-control"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_result_url }}</label>
						<div class="col-sm-10">
							<div class="form-control">{{ payment_robokassa_result_url }}</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_success_url }}</label>
						<div class="col-sm-10">
							<div class="form-control">{{ payment_robokassa_success_url }}</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_fail_url }}</label>
						<div class="col-sm-10">
							<div class="form-control">{{ payment_robokassa_fail_url }}</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
							   for="input-status_id">{{ entry_order_status }}</label>
						<div class="col-sm-10">
							<select name="payment_robokassa_order_status_id" id="input-status_id" class="form-control">
								{% for order_status in order_statuses %}
									{% if order_status.order_status_id == payment_robokassa_order_status_id %}
										<option value="{{ order_status.order_status_id }}"
												selected="selected">{{ order_status.name }}</option>
									{% else %}
										<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
							   for="input-order-test">{{ entry_test }}</label>
						<div class="col-sm-10">
							<select name="payment_robokassa_test" id="input-test" class="form-control">
								{% if payment_robokassa_test %}
									<option value="1" selected="selected">{{ text_yes }}</option>
									<option value="0">{{ text_no }}</option>
								{% else %}
									<option value="1">{{ text_yes }}</option>
									<option value="0" selected="selected">{{ text_no }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-order-country">
							{{ entry_country }}
						</label>
						<div class="col-sm-10">
							<select name="payment_robokassa_country" id="input-country" class="form-control">
								{% if payment_robokassa_country == 'RUB' %}
									<option value="RUB" selected="selected">{{ text_ru }}</option>
									<option value="KZT">{{ text_kz }}</option>
								{% elseif payment_robokassa_country == 'KZT' %}
									<option value="RUB">{{ text_ru }}</option>
									<option value="KZT" selected="selected">{{ text_kz }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-order-fiscal">
							<span data-toggle="tooltip" title="{{ help_fiscal }}">{{ entry_fiscal }}</span>
						</label>
						<div class="col-sm-10">
							<select name="payment_robokassa_fiscal" id="input-fiscal" class="form-control">
								{% if payment_robokassa_fiscal %}
									<option value="1" selected="selected">{{ text_yes }}</option>
									<option value="0">{{ text_no }}</option>
								{% else %}
									<option value="1">{{ text_yes }}</option>
									<option value="0" selected="selected">{{ text_no }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group hidden-fiscal"
						 {% if not payment_robokassa_fiscal %}style="display:none"{% endif %} >
						<label class="col-sm-2 control-label"
							   for="input-order-tax-type">{{ entry_tax_type }}</label>
						<div class="col-sm-10">
							<select name="payment_robokassa_tax_type" id="input-tax-type" class="form-control">
								{% for key,value in robokassa_tax_type_list %}
									{% if payment_robokassa_tax_type == key %}
										<option value="{{ key }}" selected="selected">{{ value }}</option>
									{% else %}
										<option value="{{ key }}">{{ value }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group hidden-fiscal"
						 {% if not payment_robokassa_fiscal %}style="display:none"{% endif %} >
						<label class="col-sm-2 control-label" for="input-order-tax">{{ entry_tax }}</label>
						<div class="col-sm-10">
							<select name="payment_robokassa_tax" id="input-tax" class="form-control">
								{% if payment_robokassa_country == 'RUB' %}
									{% for key,value in robokassa_tax_list %}
										{% if payment_robokassa_tax == key %}
											<option value="{{ key }}" selected="selected">{{ value }}</option>
										{% else %}
											<option value="{{ key }}">{{ value }}</option>
										{% endif %}
									{% endfor %}
								{% elseif payment_robokassa_country == 'KZT' %}
									{% for key,value in robokassa_tax_list_kz %}
										{% if payment_robokassa_tax == key %}
											<option value="{{ key }}" selected="selected">{{ value }}</option>
										{% else %}
											<option value="{{ key }}">{{ value }}</option>
										{% endif %}
									{% endfor %}
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group hidden-fiscal"
						 {% if not payment_robokassa_fiscal %}style="display:none"{% endif %} >
						<label class="col-sm-2 control-label"
							   for="input-order-payment-method">{{ entry_payment_method }}</label>
						<div class="col-sm-10">
							<select name="payment_robokassa_payment_method" id="input-payment-method"
									class="form-control">
								{% for key,value in robokassa_payment_method_list %}
									{% if payment_robokassa_payment_method == key %}
										<option value="{{ key }}" selected="selected">{{ value }}</option>
									{% else %}
										<option value="{{ key }}">{{ value }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group hidden-fiscal"
						 {% if not payment_robokassa_fiscal %}style="display:none"{% endif %} >
						<label class="col-sm-2 control-label"
							   for="input-order-payment-object">{{ entry_payment_object }}</label>
						<div class="col-sm-10">
							<select name="payment_robokassa_payment_object" id="input-payment-object"
									class="form-control">
								{% for key,value in robokassa_payment_object_list %}
									{% if payment_robokassa_payment_object == key %}
										<option value="{{ key }}" selected="selected">{{ value }}</option>
									{% else %}
										<option value="{{ key }}">{{ value }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group hidden-fiscal"
						 {% if not payment_robokassa_fiscal %}style="display:none"{% endif %}>
						<label class="col-sm-2 control-label"
							   for="input-status_id-check2"><span data-toggle="tooltip"
																  title="Если Вам необходимо отправлять второй чек, выберите статус заказа, при котором будет осуществлена отправка">Статус заказа второй чек</span></label>
						<div class="col-sm-10">
							<select name="payment_robokassa_order_status_id_2check" id="input-status_id-check2"
									class="form-control">
								<option value="0">Не выбрано</option>
								{% for order_status in order_statuses %}
									{% if order_status.order_status_id == payment_robokassa_order_status_id_2check %}
										<option value="{{ order_status.order_status_id }}"
												selected="selected">{{ order_status.name }}</option>
									{% else %}
										<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
						<div class="col-sm-10">
							<select name="payment_robokassa_geo_zone_id" id="input-geo-zone" class="form-control">
								<option value="0">{{ text_all_zones }}</option>
								{% for geo_zone in geo_zones %}
									{% if geo_zone.geo_zone_id == payment_robokassa_geo_zone_id %}
										<option value="{{ geo_zone.geo_zone_id }}"
												selected="selected">{{ geo_zone.name }}</option>
									{% else %}
										<option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
							   for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="payment_robokassa_status" id="input-status" class="form-control">
								{% if payment_robokassa_status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label"
							   for="input-status-iframe"><span data-toggle="tooltip"
															   title="{{ help_iframe }}">{{ entry_iframe }}</span></label>
						<div class="col-sm-10">
							<select name="payment_robokassa_status_iframe" id="input-status-iframe"
									class="form-control">
								{% if payment_robokassa_status_iframe %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status-hold">
                          <span data-toggle="tooltip" title="{{ help_hold }}">
                           <a href="https://docs.robokassa.ru/media/guides/hold_opencart.pdf">{{ entry_hold }}</a>
						  </span>
						</label>
						<div class="col-sm-10">
							<select name="payment_robokassa_status_hold" id="input-status-hold" class="form-control">
								{% if payment_robokassa_status_hold %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
						<div class="col-sm-10">
							<input type="text" name="payment_robokassa_sort_order"
								   value="{{ payment_robokassa_sort_order }}" placeholder="{{ entry_sort_order }}"
								   id="input-sort-order" class="form-control"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_languages_map }}</label>
						<div class="col-sm-10">
							{% for language in opencart_languages %}
								<div>
									<select class="form-control"
											name="payment_robokassa_languages_map[{{ language.language_id }}]">
										{% for robokassa_language in robokassa_available_languages %}
											<option {% if payment_robokassa_languages_map[language.language_id] == robokassa_language %}selected{% endif %}>{{ robokassa_language }}</option>
										{% endfor %}
									</select>
								</div>
							{% endfor %}
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	{% if payment_robokassa_country == 'KZT' %}
	$('#input-tax-type').attr('disabled', 'true');
	$('#input-status_id-check2').attr('disabled', 'true');
	$('#input-payment-object').attr('disabled', 'true');
	$('#input-payment-method').attr('disabled', 'true');
	{% endif %}

	$('#input-country').on(
			'change',
			function () {
				if ($(this).val() == 'KZT') {
					$('.input-tax-type').hide();
					$('#input-tax-type').attr('disabled', 'true');
					$('.input-status_id-check2').hide();
					$('#input-status_id-check2').attr('disabled', 'true');
					$('.input-payment-object').hide();
					$('#input-payment-object').attr('disabled', 'true');
					$('.input-payment-method').hide();
					$('#input-payment-method').attr('disabled', 'true');
				} else {
					$('#input-tax-type').removeAttr('disabled');
					$('#input-status_id-check2').removeAttr('disabled');
					$('#input-payment-object').removeAttr('disabled');
					$('#input-payment-method').removeAttr('disabled');
				}
			}
	);

	$('#input-fiscal').on(
			'change',
			function () {

				if ($(this).val() == 1) {
					$('.hidden-fiscal').show();
					$('.hidden-fiscal').addClass('alert-warning');
				} else {
					$('.hidden-fiscal').hide();
				}

			}
	);
</script>
{{ footer }} 