{% if robokassa_status_iframe %}
    <script type="text/javascript" src="{{ iframeUrl }}"></script>
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" value="{{ button_confirm }}" class="btn btn-primary"
                   onclick="Robokassa.StartPayment({MerchantLogin: '{{ robokassa_login }}',    OutSum: '{{ out_summ }}', InvId: '{{ inv_id }}', Description: '{{ order_desc }}', Email: '{{ email }}', {% if out_summ_currency %} OutSumCurrency: '{{ out_summ_currency }}', {% endif %} {% if robokassa_fiscal %} Receipt: '{{ receipt }}', {% endif %} SignatureValue: '{{ crc }}', Shp_item: '1', Shp_label: 'official_opencart', Culture: '{{ culture }}'})">
        </div>
    </div>
{% else %}
    <form action="{{ payment_url }}" method="post">
        <input type="hidden" name="MerchantLogin" value="{{ robokassa_login }}"/>
        <input type="hidden" name="OutSum" value="{{ out_summ }}"/>
        <input type="hidden" name="InvId" value="{{ inv_id }}"/>
        {% if robokassa_status_hold %}
            <input type="hidden" name="StepByStep" value="true"/>
            <input type="hidden" name="ResultUrl2" value="{{ result2_url }}"/>
        {% endif %}
        <input type="hidden" name="Description" value="{{ order_desc }}"/>
        <input type="hidden" name="Email" value="{{ email }}"/>

        {% if out_summ_currency %}
            <input type="hidden" name="OutSumCurrency" value="{{ out_summ_currency }}"/>
        {% endif %}
        {% if robokassa_fiscal %}
            <input type="hidden" name="Receipt" value="{{ receipt }}"/>
        {% endif %}
        <input type="hidden" name="SignatureValue" value="{{ crc }}"/>
        <input type="hidden" name="Shp_item" value="1"/>
        <input type="hidden" name="Shp_label" value="official_opencart"/>

        {% if robokassa_test %}
            <input type="hidden" name="IsTest" value="1"/>
        {% endif %}
        <input type="hidden" name="IncCurrLabel" value=""/>
        <input type="hidden" name="Culture" value="{{ culture }}"/>
        <div class="buttons">
            <div class="pull-right">
                <input type="submit" value="{{ button_confirm }}" class="btn btn-primary"/>
            </div>
        </div>
    </form>
{% endif %}

{% if robokassa_status_podeli %}
    <body>
    <div class="alert alert-info">
        <p>Вы можете воспользоваться способом оплаты "Подели". Этот способ доступен для заказов на сумму от 300 до 35000 руб.</p>
        <p>Оплата "Подели" позволяет разбить сумму заказа на части и оплатить её частями. Оплата возможна в интернет-банках, салонах связи и других местах.</p>
    </div>
    <script type="text/javascript" src="https://auth.robokassa.ru/Merchant/PaymentForm/DirectPayment.js"></script>
    <div class="buttons">
        <div class="pull-left">
            <!-- <button onclick="Robo.directPayment.startOp({MrchLogin: '{{ robokassa_login }}',   IncCurrLabel: '{{ IncCurrLabel }}', Encoding: 'utf-8',  OutSum: '{{ out_summ }}', Description: '{{ order_desc }}',  SignatureValue: '{{ crc }}',  Culture: '{{ culture }}'})" >ОплатитьПодели</button> -->
            <button onclick="Robo.directPayment.startOp({MrchLogin: '{{ robokassa_login }}',   IncCurrLabel: '{{ IncCurrLabel }}', InvId: '{{ inv_id }}',  Encoding: 'utf-8', {% if robokassa_fiscal %} Receipt: '{{ receipt }}', {% endif %} OutSum: '{{ out_summ }}', Description: '{{ order_desc }}',  SignatureValue: '{{ crc }}', Shp_item: '1', Shp_label: 'official_opencart',  Culture: '{{ culture }}'})" >Оплатить Подели</button>
        </div>
    </div>
    </body>
    </html>
{% endif %}
